/** @format */

:root {
  --amber: #f4c244;
  --amber: #ffbf00;
  --green: #1e9c1e;
}
/* General styles */
@font-face {
  font-family: "CRTfont";
  src: url("fonts/CRTfont.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: CRTfont, sans-serif;
  color: var(--amber);
}

/* Including base font size here, since some text sizing is basd on a sum of rem and vw */
html {
  font-size: 16px;
  height: 100%;
}

/* Monitor border */
.viewport-outer-border {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: transparent;
  box-shadow: inset 0 0 0 2.5dvw #ada088;
  pointer-events: none;
  filter: drop-shadow(0 0 1dvw rgba(255, 204, 0, 0.8));
  z-index: 200;
}
.viewport-radius-border {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: transparent;
  box-shadow: inset 0 0 0 2.5dvw #ada088;
  border-radius: 6dvw;
  pointer-events: none;
  z-index: 200;
}

/* General content styles */
body {
  background-color: #151515;
  padding: 6dvw 8dvw 4dvw 8dvw;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  overflow-x: hidden;
}
h1 {
  color: var(--amber);
  font-family: "Arial Narrow ", sans-serif;
  font-size: calc(0.55rem + 2.75dvw);
  font-weight: 500;
  margin-bottom: 2dvw;
}
h2 {
  color: var(--amber);
  font-family: "Arial Narrow ", sans-serif;
  font-size: calc(0.525rem + 2.5dvw);
  font-weight: 500;
  margin-bottom: 1dvw;
}
h3 {
  color: var(--amber);
  font-family: "Arial Narrow ", sans-serif;
  font-size: calc(0.5rem + 2.25dvw);
  font-weight: 500;
  margin-bottom: 1dvw;
}
h4 {
  color: var(--amber);
  font-family: "Arial Narrow ", sans-serif;
  font-size: calc(0.5rem + 1.8dvw);
  font-weight: 500;
  margin-bottom: 1dvw;
}
p {
  color: var(--amber);
  font-family: "Arial Narrow ", sans-serif;
  font-size: calc(0.5rem + 1.3dvw);
  margin-bottom: 1dvw;
}

/* Header styles */
header {
  display: grid;
  position: relative;
  grid-template-columns: 1.5fr 8.2fr; /* Two columns, fist for the Larry logo, and second for text and nav */
  grid-template-rows: 1.7fr 1fr; /* Two rows for the right column */
  height: 13.5dvw;
  padding-bottom: 2dvw;
  border-bottom: solid var(--amber);
}
/* Scanlines through header */
.scanlines,
.scanlines2 {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: repeating-linear-gradient(
    to bottom,
    rgba(21, 21, 21, 0.4),
    rgba(21, 21, 21, 0.4) 0.1dvw,
    transparent 0.1dvw,
    transparent 0.3dvw
  );
  z-index: 102;
  pointer-events: none;
}
/* Header grid components  */
.logo-block {
  grid-column: 1; /* Larry image is in the first column */
  grid-row: span 2; /* and spans both rows */
}
#logo {
  width: 85%;
  margin: auto;
  float: right;
  padding-left: 2dvw;
  filter: drop-shadow(0 0 0.1dvw #cfaca0) drop-shadow(0 0 0.3dvw #b8816d);
}
.top-right {
  grid-column: 2; /* Header text is in the second column */
  grid-row: 1; /* and is in the first row of that column */
  padding-top: 1dvw;
  padding-left: 2.7%;
  font-size: 6dvw;
  position: relative;
  z-index: 101;
  overflow: hidden;
}
.bottom-right-wide {
  display: block;
  grid-column: 2; /* Nav block is in the second colummn */
  grid-row: 2; /* and is in the second row of that column */
  padding-top: 0.5dvw;
  padding-left: 3%;
  height: 100%;
  display: flex;
  align-items: center; /* This should vertically center the nav */
}
.bottom-right-narrow {
  position: relative;
  display: none;
  grid-column: 3; /* Nav block is in the second colummn */
  grid-row: 1; /* and is in the second row of that column */
  padding-top: 0.5dvw;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 3.8dvw;
  height: 100%;
  text-align: right;
  align-self: center;
  border-left: solid 0.4dvw var(--amber);
}
#menu-button {
  margin-top: 2.5dvw;
  margin-left: 1dvw;
  position: relative;
  padding-left: 0.2dvw;
  padding-right: 0.2dvw;
  height: 70%;
  width: 100%;
  font-size: 6dvw;
  background-color: transparent;
  border: none;
}
.line-break {
  display: none;
}
#menu-button {
  text-decoration: none;
  padding-right: 0.1dvw;
}
#menu-button:active,
#menu-button:hover {
  color: var(--green);
}
#dropdown-menu-container {
  display: none;
  z-index: 202;
}
#dropdown-menu {
  position: absolute;
  top: 18.2dvw;
  right: 8dvw;
  font-size: 5dvw;
  text-align: right;
  padding: 2dvw;
  background-color: rgba(255, 255, 255, 0.8);
  background-color: var(--amber);
  border-radius: 2dvw;
  max-height: 50dvw;
}
#dropdown-menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2dvw;
}
#dropdown-menu ul a {
  text-decoration: none;
  padding: 0.6dvw 1.8dvw;
  background-color: var(--amber);
  color: #000;
}
#dropdown-menu ul a:hover,
#dropdown-menu ul a:focus {
  background-color: var(--green);
}
.hidden {
  display: none;
}
.visible {
  display: block;
}

.crt-text {
  color: var(--amber);
  text-shadow: 0 0 0.1dvw var(--amber);
}
.crt-amber-glow {
  box-shadow: 0 0 0.18dvw #f4c244, 0 0 0.54dvw #ff9900;
}
.crt-logo {
  filter: drop-shadow(0 0 0.1dvw #cfaca0) drop-shadow(0 0 0.3dvw #b8816d);
}

/* Navigation styles */
nav {
  z-index: 100;
}
.space,
.space1 {
  display: inline-block;
  width: 0.2em;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  margin: 0 1.5dvw 0 0; /* Even spacing */
}

nav ul li a {
  display: block;
  width: 100%;
  padding: 0.5dvw 1.1dvw;
  font-size: 2.7dvw;
  text-decoration: none;
  text-align: center;
  align-items: center;
  background-color: var(--amber);
  color: #000;
}
nav ul li .pointer {
  display: block;
  width: 1dvw;
  height: 1dvw;
  border: solid 0.5dvw;
  border-color: transparent;
  border-top-color: var(--amber);
  margin: auto;
}
nav ul li a:hover,
nav ul li a:focus {
  background-color: var(--green);
}
nav ul li a:hover + .pointer {
  border-top-color: var(--green);
}
.nav-word {
  display: inline-block;
  color: #000;
}
.half-line {
  display: none;
}
.narrow-nav {
  display: none;
}

/* Main content style */
main {
  flex: 1;
  height: 100%;
  margin-top: 2vw;
  text-align: center;
  position: relative;
}
/* Styles for temporary page images/text */
#demo-image {
  display: block;
  margin: 0 auto;
  margin-top: 2vw;
  height: 40vh;
}

#main-content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 3dvw;
  max-width: 51dvw;
  width: 100%;
  margin: auto;
  margin-top: 1.5dvw;
  margin-bottom: 2.5dvw;
}
#main-text {
  flex: 1.8;
  text-align: right;
}
#main-text p {
  font-size: 1.75dvw;
}
#main-image {
  flex: 1;
  display: flex;
  align-items: flex-start;
  align-items: stretch;
}
#main-image img {
  display: block;
  max-width: 89%;
  height: auto;
  object-fit: contain;
}
#Larry-image {
  /* height: 60%; Try to match container's height */
  height: 100%;
  width: auto; /* Keep aspect ratio */
  max-height: 100%; /* Don't overflow */
  object-fit: contain;
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15dvw, 1fr));
  gap: 2dvw;
  width: 97%;
  margin: 0 auto;
  margin-bottom: 3dvw;
}
.toggleImage {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0.5dvw;
}
.toggleImage {
  transition: transform 0.2s ease-in-out;
}
.toggleImage.maximized {
  height: 100dvh;
  object-fit: contain;
}
.toggleImage:hover,
.toggleImage:focus {
  animation: shake 0.7s ease-in-out;
}

@keyframes shake {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0);
  }
}

@media (max-width: 700px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media (max-width: 500px) {
  .-grid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}

footer {
  display: relative;
}
/* Footer style */
#footer-bottom {
  padding-top: 0.3dvw;
  display: block;
}
#footer-text {
  clear: right;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-top: solid var(--amber);
  font-size: clamp(1.4rem, 1.5dvw, 2rem);
}
#footer-text span {
  display: inline-block;
}

/* Styles for the Contact me button in footer */
#contact-button {
  position: relative;
  font-size: clamp(1.4rem, 1.5dvw, 2rem);
  background-color: transparent;
  border: none;
}
#contact-button {
  text-decoration: none;
  padding-right: 0.1dvw;
}
#contact-button:active,
#contact-button:hover {
  color: var(--green);
}

/* Styles for contact form  */
#contact-form {
  position: absolute;
  float: right;
  margin-bottom: 1dvw;
  font-size: clamp(2rem, 3dvw, 2rem);
  text-align: left;
  background-color: var(--amber);
  padding: 1dvw;
  color: #000;
  width: 60dvw;
  z-index: 250;
  border-radius: 1dvw;
  bottom: 2%;
  right: 0;
}
.form-title {
  text-align: right;
  display: block;
  margin: auto;
  color: #000;
}
#contact-form label {
  display: block;
  width: 50dvw;
  color: #000;
  font-size: clamp(1.5rem, 3dvw, 2rem);
}
#contact-form input,
#contact-form textarea {
  margin-bottom: 2dvw;
  padding: 1dvw;
  display: block;
  width: 100%;
  height: 4dvh;
  font-size: clamp(2rem, 3dvw, 2rem);
  color: #000;
  border-radius: 1dvw;
}
#contact-form textarea {
  height: 10dvh;
}
#contact-form .form-button {
  background-color: #e0e0e0; /* classic light grey */
  color: #000;
  border: 1px solid #999;
  border: 2px outset #ccc;
  padding: 1%;
  font-size: clamp(1.5rem, 3dvw, 2rem);
  margin-bottom: 0.2dvw;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
}
#contact-form #cancel {
  float: left;
  margin-right: 1dvw;
}
#contact-form #submit {
  float: right;
}
.form-message {
  display: none;
}

/* Media queries */
@media only screen and (min-width: 850px) {
  #contact-form input,
  #contact-form textarea {
    border-radius: 0.5dvw;
  }
}

@media only screen and (max-width: 500px) {
  .nav-word {
    display: block;
    color: #000;
  }
  .half-line {
    display: block;
    height: 1.51dvw;
  }

  .scanlines {
    display: none;
  }
  header {
    height: 18dvw;
    padding-bottom: 1.2dvw;
  }
  nav ul li {
    margin: 0 2dvw 0 0;
  }
  nav ul li a {
    font-size: 3.5dvw;
    font-weight: bold;
    padding: 0.45dvw 1.9dvw;
  }
  nav ul li .pointer {
    width: 2dvw;
    height: 2dvw;
    border: solid 1dvw;
    border-color: transparent;
    border-top-color: var(--amber);
    margin: auto;
  }
  #logo {
    padding-top: 1dvw;
    width: 100%;
  }
}
@media only screen and (max-width: 1250px) {
  #main-content {
    /* display: flex;
    flex-direction: row;
    gap: 3dvw; */
    max-width: 70dvw;
    /* width: 100%;
    margin: auto;
    margin-top: 2dvw;
    margin-bottom: 2.5dvw; */
  }
  #main-text {
    flex: 1.8;
    text-align: right;
  }
  #main-text p {
    font-size: 2.45dvw;
  }
  #main-image {
    flex: 1;
    display: flex;
    align-items: flex-start;
  }
  #main-image img {
    display: block;
    max-width: 89%;
    height: auto;
    object-fit: contain;
  }
  #Larry-image {
    height: 60%; /* Try to match container's height */
    width: auto; /* Keep aspect ratio */
    max-height: 100%; /* Don't overflow */
    object-fit: contain;
    display: block;
  }
}

/* @media only screen and (max-width: 800px) {
  
  nav ul li a {
    padding: 0.3vw 0.5vw;
  }

  header {
    grid-template-rows: 1fr;
    grid-template-columns: 1.5fr 5.8fr 2.4fr;
    height: 14dvw;
  }

  .top-right {
    padding-left: 8%;
    -webkit-text-stroke: 0.15dvw var(--amber);
  }

  .bottom-right-wide {
    display: none;
  }
  .line-break {
    display: inline-block;
  }
  .space1 {
    display: inline-block;
    width: 5.5ch;
  }
  .bottom-right-narrow {
    display: block;
  }
  .scanlines {
    display: none;
  }
  #dropdown-menu-container {
    display: block;
  }
  #contact-form {
    width: 100%;
  }
  #contact-form label {
    font-size: 5dvw;
  }
  #contact-form .form-button {
    font-size: 5dvw;
  }
} */
@media only screen and (max-width: 500px) {
  .scanlines {
    display: none;
  }
}
